.about-section {
    @include flex(space-between, center, row, nowrap);
    padding: 70px 24px;
    @media screen and(max-width:$screen-tablet-large) {
        @include flex(center, center, row, wrap);
    }
     &__background {
        background-color: $BG-ABOUT-COLOR;
    }
    &__title {
        color: $WHITE;
        @media screen and(max-width:$screen-desktop) {
            font-size: $H67;
            text-align: center;
        }
        @media screen and(max-width:$screen-tablet-small) {
            font-size: $H48;
            text-align: center;
        }
    }
    &__description {
        max-width: 500px;
        @include text($H17, 300, $WHITE);
        line-height: 1.5;
    }
    &__description:not(:last-of-type) {
        margin-bottom: 10px;
    }
    &__banner-wrapper {
        display: block;
        //border: 5px solid black;
        position: relative;
        padding-bottom: 48.5%;
        height: 0;
        width: 50%;
        @media screen and(max-width:$screen-tablet-large) {
            margin-bottom: 30px;
            min-width: 350px;
        }
        @media screen and(max-width:680px) {
            min-width: 250px;
        }
        @media screen and(max-width:470px) {
            min-width: 200px;
        }
        @media screen and(max-width:375px) {
            min-width: 170px;
        }
    } 
    &__banner {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
    }
}