.about-section {
    @include flex(center, center, row, wrap);
    padding: 6px 24px 50px;
    @include media($screen-tablet-large) {
        padding: 70px 24px;
    }
    @include media($screen-tablet-large) {
        @include flex(space-between, center, row, nowrap);
    }
    &__container {
        max-width: 1172px;
        margin: 0 auto;
    }
     &__background {
        background-color: $BG-ABOUT-COLOR;
    }
    &__title {
        color: $WHITE;
    }
    &__description {
        max-width: 500px;
        @include text($H17, 300, $WHITE);
        line-height: 1.5;
        text-align: center;
        @include media(860px) {
            text-align: left;
        }
    }
    &__description:not(:last-of-type) {
        margin-bottom: 10px;
    }
    &__banner-wrapper {
        display: block;
        position: relative;
        padding-bottom: 48.5%;
        height: 0;
        width: 50%;
        min-width: 250px;
        margin-bottom: 100px;
        @include media($screen-iphone-6) {
            margin-bottom: 75px;
        }
        @include media($screen-iphone-plus) {
            min-width: 300px;
            margin-bottom: 100px;
        }
        @include media($screen-tablet-small) {
            min-width: 400px;
            margin-bottom: 100px;
        }
        @include media($screen-tablet) {
            min-width: 450px;
        }
    } 
    &__banner {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
    }
}