.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $BUTTON-ABOUT-COLOR;
    font-family: $BASE-FONT, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: $H20;
    font-weight: 300;
    height: 50px;
    width: 200px;
    padding: 10px 20px;
    border: none;
    &--BLOG {
        background: $BUTTON-BLOG-COLOR;
    }
}