.button {
    @include flex(center, center);
    cursor: pointer;
    font-family: $BASE-FONT;
    line-height: 1.05;
    @include text($H20, 300, $WHITE);
    min-width: 200px;
    white-space: nowrap;
    padding: 17px 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition-property: background-color, box-shadow;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    @media screen and (max-width: $screen-iphone-5) {
        min-width: 100%;
        }
    @include hover() {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }
    &--pink {
        width: 100%;
        @include media($screen-tablet + 1px) {
        width: initial;
        max-width: max-content;
        }
        background-color: $pink;
        @include hover () {
        background-color: lighten($pink, 5%);
        }
        &:active {
        background-color: darken($pink, 5%);
        }
    }
    &--orange {
        width: 100%;
        @include media($screen-tablet + 1px) {
        width: initial;
        max-width: max-content;
        }
        background-color: $orange;
        @include hover () {
        background-color: lighten($orange, 5%);
        }
        &:active {
        background-color: darken($orange, 5%);
        }
    }
    &--small {
        min-width: 100%;
        @include media($screen-tablet + 1px){
            min-width: 170px;
        }
    }
    &--cayen {
        width: 100%;
        @include media($screen-tablet +1px) {
        width: initial;
        max-width: max-content;
        }
        background-color: $cayen;
        @include hover () {
        background-color: lighten($cayen, 5%);
        }
        &:active {
        background-color: darken($cayen, 5%);
        }
    }
    &--green {
        margin-top: 30px;
        @include media($screen-tablet + 1px){
            margin-top: 0;
        }
        background-color: $green;
        @include hover () {
        background-color: lighten($green, 5%);
        }
        &:active {
        background-color: darken($green, 5%);
        }
    }
}