.content-box {
    margin: auto 0;
    font-weight: 300;
    &__title {
        font-family: $BASE-FONT, sans-serif;
        font-size: $H60;
        font-weight: 800;
        margin-bottom: 20px;
        &--bigger {
        @include text($H90, 600, $WHITE);
        }
    }
    &__description {
        font-family: $BASE-FONT, sans-serif;
        font-size: $H17;
        line-height: 27px;
        margin-bottom: 20px;
    }
    &--home {
        max-width: 375px;
    }
    &--about {
        color: $WHITE;
        max-width: 517px;
    }
}