.contact {
    @include flex(flex-start, flex-start, column);
    &__title {
        text-transform: uppercase;
        @include text($H17, 700, $FONT-COLOR);
        line-height: 1.5;
    }
    &__description {
        @include text($H20, 400, $FONT-COLOR);
        line-height: 1.25;
    }
    &__description:not(:last-of-type) {
        margin-bottom: 15px;
    }
}