.contact-section {
    @include flex-col;
    text-align: center;
    padding: 80px 24px 120px;
    &__background {
        flex-grow: 1;
        background-image: url('../../src/assets/images/contact-section-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__title {
        margin-bottom: 32px;
        @media screen and (max-width: $screen-iphone-6) {
            font-size: $H67;
            }
    }
    &__description {
        max-width: 350px;
        margin: 0 auto;
        @include text($H17, 400, $FONT-COLOR);
        line-height: 1.5;
        margin-bottom: 46px;
    }
    &__main {
        @include flex(space-between, flex-start, row, wrap);
        @media screen and (max-width: $screen-tablet-large) {
            @include flex(center, flex-start, row, wrap);
            }
    }
    &__form {
    @include flex(center, stretch, column);
    max-width: 400px;
    width: 100%;
    margin-bottom: 24px;
    margin-right: 24px;
    @media screen and (max-width: $screen-tablet) {
        margin-right: 0;
    }
    @media screen and (min-width: $screen-desktop) {
    max-width: 500px;
    width: 100%;
    }
    }
}