.contact-section {
    @include flex-col;
    text-align: center;
    padding: 80px 24px 120px;
    &__background {
        flex-grow: 1;
        background-image: url('../../src/assets/images/contact-section-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__container {
        max-width: 1172px;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        margin-bottom: 32px;
    }
    &__description {
        max-width: 350px;
        margin: 0 auto;
        @include text($H17, 400, $FONT-COLOR);
        line-height: 1.5;
        margin-bottom: 46px;
    }
    &__main {
        @include flex(center, flex-start, row, wrap);
        @include media($screen-tablet-large) {
            @include flex(space-between, flex-start, row, wrap);
        }
    }
    &__form {
    @include flex(center, stretch, column);
    max-width: 400px;
    width: 100%;
    margin-bottom: 24px;
    @include media($screen-tablet) {
        max-width: 450px;
    }
    @include media(818px) {
        margin-right: 20px;
    }
    @include media(838px) {
        margin-bottom: 0;
    }
    @include media($screen-netbook) {
        max-width: 500px;
    }
    }
}