.footer {
    @include flex(space-between, center, row);
    padding: 32px 24px;
    max-height: 90px;
    background-color: $FOOTER-COLOR;
     &__inner {
        @include flex(space-between, center);
        flex: 1;
    } 
    &__description {
        @include text($H16, 300, $FOOTER-TEXT-COLOR);
        &--marker {
            @include text($H15, 700, $PINKER);
        }
    }
}