.footer {
    @include flex(space-between, center, row);
    padding: 32px 24px;
    max-height: 90px;
    background-color: $FOOTER-COLOR;
    &__container {
        max-width: 1172px;
        margin: 0 auto;
    }
     &__inner {
        @include flex(space-between, center);
        flex: 1;
        max-width: 1172px;
        margin: 0 auto;
    } 
    &__description {
        display: block;
        flex-basis: 33.33%;
        text-align: center;
        @include text($H16, 300, $FOOTER-TEXT-COLOR);
        @include media(838px) {
            margin: 0 -40px;
        }
    }
    &__marker {
        color: $PINKER;
    }
}