.footer {
    @include flex(space-between, center, row);
    padding: 32px 24px;
    max-height: 90px;
    background-color: $FOOTER-COLOR;
     &__inner {
        @include flex(space-between, center);
        margin: 0 auto;
        max-width: 1124px;
        width: 100%;
    } 
    &__description {
        display: block;
        flex-basis: 33.33%;
         @include media(838px) {
            flex-basis: auto;
        } 
        text-align: center;
        @include text($H16, 300, $FOOTER-TEXT-COLOR);
    }
    &__marker {
        color: $PINKER;
    }
}