.gallery-section {
    @include flex-col;
    padding: 80px 24px 120px;
    &__background {
        background-color: $BG-GALLERY-COLOR;
    }
    &__container {
        max-width: 1172px;
        margin: 0 auto;
    }
    &__title {
        align-self: center;
        margin-bottom: 28px;
    }
    &__description {
        max-width: 577px;
        @include text($H17, 300, $FONT-COLOR);
        line-height: 1.6;
        align-self: center;
        margin-bottom: 40px;
        text-align: center;
    }
    &__button {
        align-self: center;
    }
}