.gallery-section {
    @include flex-col;
    padding: 80px 24px 120px;
    &__background {
        background-color: $BG-GALLERY-COLOR;
    }
    &__title {
        align-self: center;
        @include text($H90, 700, $FONT-COLOR);
        margin-bottom: 28px;
        line-height: 1.17;
        @media screen and (max-width:$screen-iphone-6) {
            font-size: $H67;
        }
    }
    &__description {
        max-width: 577px;
        @include text($H17, 300, $FONT-COLOR);
        line-height: 1.6;
        align-self: center;
        margin-bottom: 40px;
        text-align: center;
    }
    &__button {
        align-self: center;
    }
}