.header {
    @include flex(center, stretch, column);
    flex-grow: 1;
    padding: 0 24px;
    &__background {
    display: flex;
    background-image: url('../../src/assets/images/header-bg.png');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    &__top-wrapper {
        @include flex(space-between, center);
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10; 
    }
}