.home-section {
    @include flex(center, flex-start, column);
    flex-grow: 1;
    &__title {
        @include text($H60, 900, $FONT-COLOR);
        margin-bottom: 30px;
    }
    &__description {
        max-width: 371px;
        margin-bottom: 30px;
        @include text($H17, 300, $FONT-COLOR);
        line-height: 1.6;
        @media screen and(max-width:$screen-tablet-small) {
           background-color: $WHITE;
        }
    }
    &__icon-wrapper {
       @include flex;
       margin-bottom: 70px;
       align-self: center;
    }
    &__icon {
        width: 40px;
        height: 40px;
        }
}