.menu-list {
    list-style: none;
    font-family: 'Raleway';
    font-size: $H16;
    font-weight: 600;
    &__item {
        padding-top: 4px;
        display: inline;
        text-transform: uppercase;
    }
    &__item:hover {
        border-top: 3px solid $BUTTON-ABOUT-COLOR;
    }
    &__item-anchor {
        text-decoration: none;
        color: black;
    }
    &__item:not(:last-of-type) {
        margin-right: 30px;
    }
}