.mobile-menu {
    height: 100%;
    @include flex(center, center);
    position: relative;
    @include media($screen-tablet + 1px) {
        display: none;
    }
    &__input {
        position: absolute;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        left: 4px;
        top: 4px;
        &:checked ~ .mobile-menu__box {
            visibility: visible;
            transform: translateX(0);
        }
    }
    &__burger {
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
    &__box {
        top: 100%;
        right: 0;
        left: 0;
        top: 66px;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        transform: translateX(200%);
        visibility: hidden;
        @include transition(visibility, transform);
    }
    &__list {
        @include flex(center, flex-end, column);
        padding: 24px;
        background-color: $WHITE;
        width: 100%;
    }
    &__item {
        &:not(:last-of-type) {
            margin-bottom: 14px;
        }
    }
}