.mobile-menu {
    @media screen and (min-width: $screen-tablet + 1) {
        display: none;
    }
    height: 100%;
    @include flex(center, center);
    position: relative;
    &__input {
        position: absolute;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        left: 4px;
        top: 4px;
        &:checked ~ .mobile-menu__list {
            visibility: visible;
            transform: translateX(0);
        }
    }
    &__burger {
        cursor: pointer;
        position: relative;
        z-index: 1;
    }
    &__list {
        @include flex(center, flex-end, column);
        transform: translateX(200%);
        position: fixed;
        top: 100%;
        right: 0;
        left: 0;
        top: 71px;
        padding: 24px;
        background-color: $WHITE;
        width: 100%;
        visibility: hidden;
        @include transition(visibility, transform);

    }
    &__item {
        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }
}