.nav {
    @media screen and (max-width: $screen-tablet) {
        display: none;
    }
    @include text($H16, 600);
    &__item {
        padding-top: 4px;
        display: inline;
        text-transform: uppercase;
    }
    &__item:hover {
        border-top: 3px solid $orange;
    }
    &__item-anchor {
        @include text($H16, 600);
        border: 3px solid transparent;
        color: $FONT-COLOR;
        text-transform: uppercase;
        padding-top: 4px;
    }
    &__item:not(:last-of-type) {
        margin-right: 30px;
    }
}