.services-list {
    @include flex(flex-start, flex-start, column, wrap);
    margin: 0 24px;
    @include media() {
        margin: 0;
    }
    &__item:not(:last-of-type) {
        margin-bottom: 20px;
    }
}