.services-card {
    @include flex(space-between, center, row, nowrap);
    width: 100%;
    @include media(420px) {
        width: 400px;
    }
    background-color: $WHITE;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease;
    &__name {
        @include text($H20, 700);
        line-height: 27px;
        margin: 0 40px;
        @include media(420px) {
            margin: 0 70px;
        }
        text-align: center;
        &--domestic {
        margin: 0 30px;
        }
    }
    &__icon {
        width: 47px;
        height: 44px;
    }
    &__icon-wrapper {
        @include flex(center, row, wrap);
        border-left: 1px solid $SERVICES-CARD-BORDER-COLOR;
        padding: 28px 26px;
    }
}
.services-card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}