.services-section {
    @include flex(center, center, row, wrap-reverse);
    padding: 20px 24px 120px;
    @include media(786px) {
        @include flex(space-between, center, row,  wrap-reverse);
    }
    @include media($screen-tablet-large) {
        padding: 80px 24px 120px;
    }
    &__container {
        max-width: 1172px;
        margin: 0 auto;
    } 
    &__background {
        background-color: $BG-SERVICES-COLOR;
    }
    &__title {
        color: $WHITE;
    }
    &__banner {
        background-image: url(../assets/images/services_banner.png);
        @include flex(center, stretch, column);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        min-height: 290px;
        @include media(786px) {
            min-height: 400px;
            margin-bottom: 0;
        }
        @include media() {
            min-height: 623px;
        }
        margin-bottom: 25px;
    }
    &__banner-wrapper {
        @include flex(center, center, column);  
    }
}