.services-banner {
    position: relative; 
    @include flex(center, center);
    min-height: 623px;    
    &__image {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        @media screen and(max-width: 1034px) {
        width: 90%;
        }
        height: auto;
        object-fit: cover;
        }
    &__inner {
        position: relative;
        z-index: 1;
        text-align: center;
        @include flex(center, center, row); 
        }
}