.title {
    @include text($H90, 700, $FONT-COLOR);
    @media screen and(max-width: 1034px) {
        font-size: $H67;
    }
    @media screen and(max-width: 470px) {
        font-size: $H60;
    }
    @media screen and(max-width: 430px) {
        font-size: $H48;
    }
    @media screen and(max-width: 355px) {
        font-size: $H40;
    }     
}