<div class="blog-section__background">
<section class="blog-section container">
    <h2 class="title blog-section__title">Blog</h2>
    <p class="blog-section__description">Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
    <ul class="blog-list">
        <li class="blog-list__item">
            <div class="card">
                <img  class="card__image" src="../src/assets/images/kiwi1.png" alt="kiwi">
                <div class="card__data">
                    <span class="card__number">20</span>
                    <span class="card__month">nov</span>
                </div>
                <div class="card__inner">
                <div class="card__text-wrapper">
                <h3 class="card__title">Green Smoothies: Too Much of a Good Thing?</h3>
                <span class="card__description">By Auskteez - 2 hours ago</span>
                <div>
            </div>
            </div>
        </li>
        <li class="blog-list__item">
            <div class="card">
                <img  class="card__image" src="../src/assets/images/smoothies2.png" alt="smoothi">
                <div class="card__data">
                    <span class="card__number">14</span>
                    <span class="card__month">nov</span>
                </div>
                <div class="card__inner">
                <div class="card__text-wrapper">
                <h3 class="card__title">Growing Food and a "Thirst" for Innovation</h3>
                <span class="card__description">By Auskteez - 3 hours ago</span>
                <div>
            </div>
            </div>
        </li>
        <li class="blog-list__item">
            <div class="card">
                <img  class="card__image" src="../src/assets/images/raspberries3.png" alt="raspberries">
                <div class="card__data">
                    <span class="card__number">10</span>
                    <span class="card__month">nov</span>
                </div>
                <div class="card__inner">
                <div class="card__text-wrapper">
                <h3 class="card__title">Pesticides & Food: What You Need to Know</h3>
                <span class="card__description">By Auskteez - 6 hours ago</span>
                <div>
            </div>
            </div>
        </li>
    </ul>
    <button class="button button--pink">VIEW MORE</button>
</section>
</div>