<div class="contact-section__background">
    <a name='contact'></a>
    <section class="contact-section contact-section__container">
        <h2 class="title contact-section__title">Contact</h2>
        <p class="contact-section__description">For new projects, ideas, business or anything
            you'd like to discuss, contact with me!</p>
    <div class="contact-section__main">
        <form class="form contact-section__form" action="">
            <input placeholder="Your name..." class="form__input form__input--contact-section" type="text">
            <input placeholder="Your email..." class="form__input form__input--contact-section" type="email">
            <input placeholder="Your phone number..." class="form__input form__input--contact-section" type="tel">
            <textarea placeholder="Your message..." class="form__textarea"></textarea>
        </form>
        <div class="contact">
            <h3 class="contact__title">address</h3>
            <span class="contact__description">123 City name, Street, City, Country</span>
            <h3 class="contact__title">email</h3>
            <span class="contact__description">cahee@domain.com</span>
            <h3 class="contact__title">phone</h3>
            <span class="contact__description">+012 345 6789</span>
        </div>
    </div>
    </div>
    </section>
    <footer class="footer">
        <div class="footer__inner container">
        <span class="footer__description">© 2015 Company. All right reserved.</span>
            <a class="logo logo__footer" href="/">Cahee</a>
            <span class="footer__description">Made with <span class="footer__description footer__description--marker">love</span> by Auskteez</span>
        </div>
    </footer>