<div class="header__background">
<header class="header container">
<a name='home'></a>
<div class="header__top-wrapper">
    <a class="logo logo__header" href="/">Cahee</a>
    <nav>
   <ul class="nav">
    <li class="nav__item">
        <a class="nav__item-anchor" href="#home">home</a>
    </li>
    <li class="nav__item">
        <a class="nav__item-anchor" href="#about">about</a>
    </li>
    <li class="nav__item">
        <a class="nav__item-anchor" href="#services">services</a>
    </li>
    <li class="nav__item">
        <a class="nav__item-anchor" href="#gallery">gallery</a>
    </li>
    <li class="nav__item">
        <a class="nav__item-anchor" href="#blog">blog</a>
    </li>
    <li class="nav__item">
        <a class="nav__item-anchor" href="#contact">contact</a>
    </li>
   </ul>
   <label class="mobile-menu">
   <input class="mobile-menu__input" type="checkbox">
   <span class="mobile-menu__burger burger">
       <img class="burger__image" src="./assets/svg/burger-icon.svg" alt="menu">
   </span>  
   <span class="mobile-menu__box"> 
   <span class="mobile-menu__list">
       <span class="mobile-menu__item">
        <a class="nav__item-anchor" href="#home">home</a>
       </span>
       <span class="mobile-menu__item">
        <a class="nav__item-anchor" href="#about">about</a>
       </span>
       <span class="mobile-menu__item">
        <a class="nav__item-anchor" href="#services">services</a>
       </span>
       <span class="mobile-menu__item">
        <a class="nav__item-anchor" href="#gallery">gallery</a>
       </span>
       <span class="mobile-menu__item">
        <a class="nav__item-anchor" href="#blog">blog</a>
       </span>
       <span class="mobile-menu__item">
        <a class="nav__item-anchor" href="#contact">contact</a>
       </span>
   </span>
   </span>
    </label>
     </nav>
</div>
<section class="home-section">
<h2 class="title home-section__title">Fresh Life</h2>
        <p class="home-section__description">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            <button class="button button--orange">GET FREE NOW</button>

</section>
</header>
</div>