<div class="services-section__background">
    <a name='services'></a>
<section class="services-section container">
    <ul class="services-list">
        <li class="services-list__item">
            <div class="services-card">
                <div class="services-card__name">
                Online Shopping
                </div>
                <div class="services-card__icon-wrapper">
                 <img class="services-card__icon" src="../src/assets/svg/online.svg" alt="">
                 </div>
            </div>
        </li>
        <li class="services-list__item">
         <div class="services-card">
             <div class="services-card__name">
             Quality Product
             </div>
             <div class="services-card__icon-wrapper">
              <img class="services-card__icon" src="../src/assets/svg/quality.svg" alt="">
              </div>
         </div>
     </li>
     <li class="services-list__item">
         <div class="services-card">
             <div class="services-card__name services-card__name--domestic">
             Domestic & International Delivery
             </div>
             <div class="services-card__icon-wrapper">
              <img class="services-card__icon" src="../src/assets/svg/domestic.svg" alt="">
              </div>
         </div>
     </li>
     <li class="services-list__item">
         <div class="services-card">
             <div class="services-card__name">
             Well Organized
             </div>
             <div class="services-card__icon-wrapper">
              <img class="services-card__icon" src="../src/assets/svg/organized.svg" alt="">
              </div>
         </div>
     </li>
    </ul>
     <div class="services-section__banner-wrapper">
     <div class="services-section__banner">
        <h2 class="title services-section__title">Our Services</h2>
     </div>
    </div>
</section>
</div>