*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button,
textarea,
select {
  font-size: 16px;
  font-family: $BASE-FONT;
}

ul {
  list-style: none;
}

a, button {
  background-color: transparent;
  border: none;
  outline: none;
  display: inline-flex;
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}