//Colors
$WHITE: #fff;
$BLACK: #000;
$aqua: #00c4c4;
$main: #262626;
$orange: #ff6033;
$pink: #f72b3b;
$PINKER: #ff2b58;

$BG-ABOUT-COLOR: $aqua;
$BG-BLOG-COLOR: #b07cf7;
$INPUT-COLOR: #7FE1E1;
$INPUT-BORDER-COLOR: #355b82;
$INPUT-COLOR-FOCUS: $aqua;
$FONT-COLOR: $main;
$FOOTER-COLOR: $main;
$FOOTER-TEXT-COLOR: #b9b9b9;


// Fonts
$LOGO-FONT: 'Pacifico';
$BASE-FONT: 'Raleway';
$base-font-size: 16px;

//Font Sizes
@function calcRem($size) {
    $remSize: $size / $base-font-size;
    @return #{$remSize}rem;
}

$H90: calcRem(90px);
$H60: calcRem(60px);
$H48: calcRem(48px);
$H32: calcRem(32px); 
$H25: calcRem(25px); 
$H21: calcRem(21px);
$H20: calcRem(20px);
$H17: calcRem(17px);
$H16: calcRem(16px);
$H15: calcRem(15px);
$H13: calcRem(13px);