@import './core/vars';
@import './core/mixins';
@import './core/common';

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700;900&display=swap');

//components
@import './components/header';
@import './components/logo';
@import './components/nav';
@import './components/title';
@import './components/button';
@import './components/footer';

@import './components/home-section';

@import './components/about-section';

@import './components/services-section';
@import './components/services-list';
@import './components/services-card';

@import './components/grid';
@import './components/subscribe-section';
@import './components/gallery-section';

@import './components/blog-section';
@import './components/blog-list';
@import './components/card';

@import './components/contact-section';
@import './components/form';
@import './components/contact';